<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APOD Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='apod-style.css') }}">
</head>
<body>
    <h1>Astronomy Picture of the Day</h1>

    <form id="dateForm">
        <label for="dateInput">Enter a date (YYYY-MM-DD):</label>
        <input type="text" id="dateInput" name="dateInput" required>
        <button id="showApodButton" type="button" onclick="fetchAPOD()">Show APOD</button>
    </form>

    <div id="apod-container">
    </div>

    <script>
        async function fetchAPOD() {
            const apiKey = 'xOJtXktaBxgpQRQyeACT0dblt2j9xDsOba6uKdLS';
            let dateInput = document.getElementById('dateInput').value;

            if (!dateInput) {
                return;
            }

            const apodUrl = `https://api.nasa.gov/planetary/apod?api_key=${apiKey}&date=${dateInput}`;

            try {
                const response = await fetch(apodUrl);
                const data = await response.json();

                document.getElementById('apod-container').innerHTML = `
                    <h2>${data.title}</h2>
                    <img src="${data.url}" alt="${data.title}" />
                    <p>${data.explanation}</p>
                `;
            } catch (error) {
                document.getElementById('apod-container').innerHTML = '<p>Error loading APOD data.</p>';

                console.error('Error fetching APOD data:', error);
                alert('Error fetching APOD data.'); 
            }
        }

        window.onload = fetchAPOD;
    </script>
</body>
</html>