body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}

.box {
    background-color: black;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

#mainText {
    transform: scale(1.5);
    color: #FFFFFF;
    background: black;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #F1EB23, 0 0 30px #F1EB23, 0 0 15px #F1EB23, 0 0 8px #F1EB23, 0 0 10px #F1EB23;
}

#map { 
    height: 360px;
    width: 500px;
}
